@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face  {
  font-family: "NEXONLv1Gothic";
  font-style: normal;
  font-weight: 400;
  src: url(./font/NEXONLv1GothicRegular.woff) format("woff");
}

@font-face  {
  font-family: "NEXONLv1Gothic";
  font-style: normal;
  font-weight: 700;
  src: url(./font/NEXONLv1GothicBold.woff) format("woff");
}

@font-face  {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 100;
  src: url(./font/Pretendard-Thin.woff) format("woff");
}

@font-face  {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 200;
  src: url(./font/Pretendard-ExtraLight.woff) format("woff");
}

@font-face  {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 300;
  src: url(./font/Pretendard-Light.woff) format("woff");
}

@font-face  {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: url(./font/Pretendard-Regular.woff) format("woff");
}

@font-face  {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url(./font/Pretendard-Medium.woff) format("woff");
}

@font-face  {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  src: url(./font/Pretendard-SemiBold.woff) format("woff");
}

@font-face  {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  src: url(./font/Pretendard-Bold.woff) format("woff");
}

@font-face  {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 800;
  src: url(./font/Pretendard-ExtraBold.woff) format("woff");
}

@font-face  {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 900;
  src: url(./font/Pretendard-Black.woff) format("woff");
}

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: "Pretendard",sans-serif; 
}
.swiper-container {
  @apply max-w-full h-auto;
}

.swiper-slide {
  @apply flex justify-center items-center text-lg;
}

.swiper-slide img {
  @apply w-full h-full object-cover; /* max-h-96 is equivalent to max-height: 24rem (384px) */
}

@keyframes zoomIn {
0% {
  transform: scale(1);
  /* transform-origin: right; */
}
100% {
  transform: scale(1.1);
  /* transform-origin: right; */
}
}

.swiper-slide-active .animate-zoom {
  animation: zoomIn 3s linear forwards ;
}

@-webkit-keyframes zoom-a {
	0% { background-size: 100% auto; }
	100% { background-size: 120% auto; }
}
@-moz-keyframes zoom-a {
	0% { background-size: 100% auto; }
	100% { background-size: 120% auto; }
}
@-o-keyframes zoom-a {
	0% { background-size: 100% auto; }
	100% { background-size: 120% auto; }
}
@keyframes zoom-a {
	0% { background-size: 100% auto; }
	100% { background-size: 120% auto; }
}
.type-a1,.type-a2 {
  -webkit-animation: zoom-a 10s linear infinite none; /* Safari 4+ */
  -moz-animation:    zoom-a 10s linear infinite none; /* Fx 5+ */
  -o-animation:      zoom-a 10s linear infinite none; /* Opera 12+ */
  animation:         zoom-a 10s linear infinite none; /* IE 10+, Fx 29+ */
}
.mainVisual_01  {
  background-image: url(/main_visual01.jpg);
}
.mainVisual_01_m  {
  background-image: url(/main_visual01_m.jpg);
}
.mainVisual_02  {
  background-image: url(/main_visual02.jpg);
}
.mainVisual_02_m  {
  background-image: url(/main_visual01_m.jpg);
}
/*
.swiper-slide-active.swiper-slide-keyvisual .bg-cover.h-screen {
  animation: zoomIn 2s forwards;
}
*/
/* App.css */

    /* #header {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 500;
      width: 100%;
      max-width: 100%;
      height: var(--header-height);
      padding: 0;
      background-color: #fff;
      box-shadow: rgba(149, 157, 165, 0.07) 0 8px 15px;
      transition: background-color 0.5s, transform 0.3s;
    } */
    #header.down,
    #header {transform: none !important;
    /* position:absolute;top:0;left:0;right:0;z-index: 10; */}
    #header {/*padding: 1rem 20px;*/display: flex}
  
    #mheader{display: flex;justify-content: space-between;padding: 1rem 20px;border-bottom: 1px solid #636c75;}
    /* #header .h_in{padding: 0 20px;} */
    
    #header .h_in{display: grid; grid-template-columns: auto minmax(0, 1fr) auto; gap: 0; position: relative; width: 100%; /*max-width: 100%;*/ height: 100%; /*padding: 0 60px;*/ align-items: center;}

    /* #header .logo{margin-left: 0;} */
    /* #header .logo a img{transform: translateY(-3px); height: 36px;} */
    #header nav{display: block;}
    #header .right_btn{display: flex;align-items: center;}

    #header .right_btn .lang_wrap .btn{padding: 0.8em 1.25em; font-size: 12px;}
    #header .right_btn .lang_wrap ul li a{font-size: 12px;}
    #header .right_btn .share_wrap{margin-left: 20px;}
    #header .right_btn .share_wrap .share_btn{width: 30px; height: 30px;}
    #header .right_btn .share_wrap .share_btn svg{}
    #header .right_btn .share_wrap .sns_box{left: -6px;}
    #header .right_btn .share_wrap .sns_box div{}
    #header .right_btn .share_wrap .sns_box div svg{font-size: 16px;}
    /* #header .right_btn .ham_btn{width: 30px; height: 30px; margin-left: 20px;} */
    /* #header .right_btn .ham_btn svg{fill: #262626;font-size: 2.8rem;transition: fill 0.25s;} */
    /* #header .right_btn .ham_btn {
      display:none;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        margin-left: 30px;
    } */
    .line {
      fill: none;
      stroke: white;
      stroke-width: 6;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .subMenu .line{
      stroke:#131f35
    }
    .line1 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }
    .line2 {
      stroke-dasharray: 60 60;
      stroke-width: 6;
    }
    .line3 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }
    .on .line1 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }
    .on .line2 {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 6;
    }
    .on .line3 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }

    #header nav{height: 100%;}
#header nav .depth1 {display: flex; align-items: center; justify-content: center; position: relative; z-index: 10; height: 100%; }
#header nav .depth1 li { position: relative; }
/*
#header nav .depth1 > li{height: 100%;}

#header nav .depth1 > li > a { display: flex; align-items: center; justify-content: center; position: relative; height: 100%; padding: 0 2.5em; color: #fff; font-size: 18px; transition: padding 0.5s, color 0.25s; }
#header nav .depth1 > li > a.on{color: var(--org);}*/
#header nav .depth1 > li.active > a { color: var(--org); font-weight: 600; }

#header.subMenu nav .depth1 > li > a {color: #131f35;}

        
 
/*=====사이트 맵=====*/
/* .sitemap { position: fixed; left: 0; top: 0; width: 100%; height: 100vh; background-color: #2d3e4e; color: #fff; opacity: 0; z-index: 9999; transition: opacity 0.4s; pointer-events: none; } */
/* .sitemap.on { opacity: 1; pointer-events: visible; } */

.sitemap .cont { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 100%; max-width: 124rem; margin: 0 auto; padding: 0 20px;}
.sitemap .cont .mo_menu { display: none; }

.sitemap .cont .top { display: flex; align-items: center; justify-content: space-between; padding-bottom: 30px; border-bottom: 1px solid rgba(255,255,255,0.4); }
.sitemap .cont .top .en_tit{font-size: 45px; font-weight: 600; font-family: var(--pop); text-transform: uppercase; line-height: 1em;}
.sitemap .cont .top .sitemap_logo{display: none;}
.sitemap .cont .close_btn { display: flex; align-items: center; justify-content: center; width: 2rem; height: 2rem; font-size: 3rem; cursor: pointer; }
.sitemap .cont .close_btn svg{width: 100%; height: 100%; fill: #fff;}
.sitemap .cont .top .lang{display: none;}

/* .sitemap .cont .list { display: flex; align-items: flex-start; justify-content: space-between; padding: 0 30px; margin-top: 5rem; } */
/* .sitemap .cont .list .depth1 + .depth1 { margin-left: 40px; }
.sitemap .cont .list .depth1 > a {position: relative; font-size: 2.8rem; font-weight: 600; text-transform: capitalize; transition: color 0.25s; }
.sitemap .cont .list .depth1 > a:before { content: ''; position: absolute; left: 0; top: 0; width: 5px; height: 5px; transform: translate(-150%, 0); border-radius: 100%; background-color: #fff; opacity: 0; transition: opacity 0.5s; }
.sitemap .cont .list .depth2 { margin-top: 4rem; color: #fff; }
.sitemap .cont .list .depth1 > a:hover {} */
.sitemap .cont .list .depth2 li{padding: 0.7em 0; font-size: 1.8rem;}
.sitemap .cont .list .depth2 li a {display: block; position: relative; font-weight: 500; text-transform: capitalize; transition: color 0.25s, font-weight 0.25s; }
.sitemap .cont .list .depth2 li a:before { content: ''; position: absolute; left: 0; top: 0; transform: translate(-150%, 0); width: 4px; height: 4px; border-radius: 100%; background-color: #fff; opacity: 0; transition: opacity 0.5s; }
.sitemap .cont .top .close_btn svg {
  width: 100%;
  height: 100%;
  fill: rgb(255, 255, 255);
}

.swiper-slide img.pc {
  display: block;
}
.swiper-slide img.mobile {
  display: none;
}

.textOverlay {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 50%;
  height: 100%;
  padding-left: 48px; */
}

.textOverlay .more {
  /* display: inline-flex;
  align-items: center;
  white-space: nowrap;
  transform: translateY(100%);
  padding: 1em 1.5em;
    margin-top: 3em;
  background: #2d3e4e;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 2em;
  line-height: 1em; */
}
/*.textOverlay .sub_tit {
  font-size: 32px
}
 .textOverlay .tit {
  font-size: 80px
} */

.swiper-slide-active .textOverlay .tit {
  /* transform: translateY(0%);
  transition: transform 1s 0.5s; */
}
.swiper-slide-active .textOverlay .sub_tit {
  /* transform: translateY(0%);
  transition: transform 1s 0.5s; */
}

  @media screen and (min-width: 1241px){
    /* .sitemap .cont .list .depth1 > a:hover:before { opacity: 1; }
    .sitemap .cont .list .depth2 li a:hover:before { opacity: 1; } 
    .sitemap .cont .top .close_btn:hover svg{transform: rotate(270deg); transition: transform 0.5s;}*/
  }


  @media screen and (max-width: 1441px) {
    /* .textOverlay .sub_tit {
        font-size: 25px;
    }
    .textOverlay .tit {
      font-size: 64px;
    } */
  }

    @media screen and (max-width: 1241px){
      :root{
        --header-height: 70px;
      }

      #header {
        /* padding: 1.5rem 0; */
      }

      #header nav{display: none;}
      #header .logo {
        margin-left: 0;
      }
      /* #header .h_in{padding: 0 20px;} */
      .textOverlay {
        width: 100%;
      }
      #header .right_btn .ham_btn {
        /* width: 30px;
        height: 30px;
        margin-left: 20px;
        display: block; */
      }
      .sitemap .cont .top .close_btn {
      }
      .sitemap .cont .top {
        flex-wrap: wrap;
        position: relative;
        z-index: 1;
        padding: 2rem 2rem;
        border-bottom: none;
      }
        
      .sitemap {}
      .sitemap .cont {overflow-y: auto; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 100%; max-width: 100%; height: 100%; padding: 0; margin: 0 auto;}
      .sitemap .cont .top{flex-wrap: wrap; position: relative; z-index: 1; padding: 1rem; border-bottom: none;}
      .sitemap .cont .top .en_tit{display: none;}
      .sitemap .cont .top .sitemap_logo{display: flex; align-items: center; /*height: 40px;*/}
      .sitemap .cont .top .sitemap_logo img{transform: translateY(-3px); height: 36px;}
      .sitemap .cont .top .sitemap_logo .foreign{display: none;}
      .sitemap .cont .top .close_btn{}
      .sitemap .cont .top .lang{display: flex; position: relative; z-index: 1; margin-left: auto; margin-right: 3rem; }
      .sitemap .cont .top .lang .btn{display: flex; align-items: center; padding: 0.8em 1.25em; background: #fff; color: var(--org); font-size: 12px; font-weight: 500; text-transform: uppercase; border-radius: 2em; line-height: 1em; transition: background 0.25s, color 0.25s;}
      .sitemap .cont .top .lang .btn svg{margin-left: 1em; fill: var(--org); font-size: 0.8em; transition: all 0.25s;}
      .sitemap .cont .top .lang ul{position: absolute; top: calc(100% + 0px); right: 0; opacity: 0; transform: translateY(0px); white-space: nowrap; width: 100%; padding: 8px 0; background: #fff; border-radius: 5px; pointer-events: none;}
      .sitemap .cont .top .lang ul li{}
      .sitemap .cont .top .lang ul li a{display: block; padding: 0.425em 1em; color: var(--org); font-size: 12px; font-weight: 500; text-transform: uppercase; text-align: center; transition: opacity 0.25s;}
      .sitemap .cont .top .lang ul li a:hover{opacity: 1;}
      .sitemap .cont .top .lang.open .btn svg{transform: rotate(180deg);}
      .sitemap .cont .top .lang.open ul{opacity: 1; transform: translateY(5px); pointer-events: auto; transition: all 0.3s;}

      .sitemap .cont .list_wrap{max-height: none;}
      /* .sitemap .cont .list { display: flex; flex-direction: column; position: relative; max-width: 100%; padding: 0 0 100px; margin: 0 auto; border-top: 1px solid rgba(255, 255, 255, 0.2);} */
      .sitemap .cont .list::before{display: none;}
      /* .sitemap .cont .list .depth1{width: 100%; padding: 20px; border-bottom: 0;}
      .sitemap .cont .list .depth1 + .depth1 {margin-left: 0;}
      .sitemap .cont .list .depth1 > a {display: block; position: relative; font-size: 2.4rem;}
      .sitemap .cont .list .depth1 > a:after { content: ""; position: absolute; top: calc(50% - 0.4em); right: 0; width: 1em; height: 1em; transition: transform .3s; background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><style>path{fill: %23fff;}</style><path d="M241 369c-9.4 9.4-24.6 9.4-33.9 0L47 209c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l143 143L367 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L241 369z"/></svg>') no-repeat center center/cover;}
      .sitemap .cont .list .depth1 > a.on:after { transform: rotate(180deg); } */
      .sitemap .cont .list .depth2 { display: none; opacity: 0.85; margin-top: 20px; color: #fff;}
      .sitemap .cont .list .depth2 > li{line-height: 1.2em;}
      .sitemap .cont .list .depth2 > li + li{}
      .sitemap .cont .list .depth2 > li > a {}
      .sitemap .cont .list .depth2 > li > a:hover {}


      .sitemap .cont .logo{  
        /* color: #fff;
        font-size: 0.8rem;
        display: flex;
        line-height: 2.5;
        font-weight: bold; */
      }
      /* .logo{  
        color: #2d3e4e;
        font-size: 0.8rem;
        display: flex;
        line-height: 2.5;
        font-weight: bold;
      } */
      /* .logo span{
        padding-left: 0.2rem;
      } */
    }

    @media screen and (min-width: 1200px) {
      .type-a1 {
        background-image: url(/main_visual01.jpg) !important;
      }
      .type-a2 {
        background-image: url(/main_visual02.jpg) !important;
      }
    }

    .type-a1 {
      background-image: url(/main_visual01_m.jpg);
      /* background-position: center bottom; */
      height: 100%;
    }
    .type-a2 {
      background-image: url(/main_visual02_m.jpg);
    }    
    .css-1c2fuzs {
      animation-duration: 1000ms;
      animation-timing-function: ease;
      animation-delay: 0ms;
      animation-name: animation-os2n7p;
      animation-direction: normal;
      animation-fill-mode: both;
      animation-iteration-count: 1;
  }
